/* .dogBox{
    margin:3rem;
   
}
.dogCardBorder{
     height:100%;
       display:grid;
       grid-template-columns: repeat(auto-fill,minmax(200px,1fr));  
       align-items: end;
       grid-gap:  3rem; 
      } */

      .dogBox{
        margin:2rem;
        }
    /* .dogCardBorder{  
        
           
           padding :10px;
            overflow: hidden;
           display:grid;
           grid-template-columns: repeat(auto-fill,minmax(300px,1fr));  
           align-items: end;
           
           grid-gap:  3rem;
          
          
          
    } */

    .grid-container{
      
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));  
        
        grid-gap:  2rem;
      
    }
  
      .title{
          display:flex;
   font-size: 50px;
    justify-content: center;
   padding-top: 30px;

      }
      .text1{
        font-weight: bold;
      }
      .text2{
        font-weight: normal
        
      }
