.dogcard {
  /* display: flex; */
  /* max-height: 300px;
  width: 100%;
  object-fit: contain; */
}
.container1 {
  padding: 10px;

  text-align: center;
  height: 50%;
  width: 50%;

  display: grid;
  align-items: end;
}
