.dogcard {
  display: flex;
  max-height: 300px;
  width: 100%;

  object-fit: contain;
  position: relative;
}

.container1 {
  padding: 0 !important;
  padding: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: end;
  position: relative;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: end;

  border: 1px solid black;
  background-color: rgb(237, 233, 233);
  height: 40px;
  width: 100%;
  opacity: 55%;
}

.button2:hover {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: end;
  align-self: end;
  position: absolute;
  border: 1px solid black;

  height: 40px;
  width: 100%;
  opacity: 55%;
}
