.dropdown {
  width: 200px;
  font-size: 15px;
  padding: 10px;
  background: #fff;
  border: 2px solid rgb(73, 71, 71);
  border-radius: 6px;
  position: relative;
}
.dropdown .select {
  width: 100%;
  outline: none;

  background-position: 80% center;
}

.dropdown .select select {
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  outline: none;
}
.dropContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
