@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.color-nav {
  background-color: #272343;
}
.Nav-Item {
  color: #ffffff;
  font-family: "Acme", sans-serif;
  display: inline;
}
.nav {
  display: inline-block;
}

.navbar-toggler {
  border-color: rgb(192, 187, 187) !important;
  display: inline;
}

.drop {
  float: right;
}
